<footer id="footer">
  <div class="row">
    <div class="col-md-3">
      <h3>From the Web</h3>
      <ul>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>From the Web</h3>
      <ul>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
        <li class="arrow">Đây là 1 ví dụ</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>From the Web</h3>
        <ul>
          <li>Đây là 1 ví dụ.</li>
          <li>2 days ago</li>
          <li><a href="#" title="Follow Us!">Follow Us!</a></li>
        </ul>
    </div>
    <div class="col-md-3">
      <h3>Get in Touch</h3>
      <ul>
        <li class="phone"><span class="glyphicon glyphicon-earphone"></span> 0974063965</li>
        <li class="mail"><span class="glyphicon glyphicon-envelope"></span> lehongson.bkvn@gmail.com</li>
        <li class="link">
        <ul>
          <li><%= image_tag("rss.png", :alt => "rss feed" ) %></li>
          <li><%= image_tag("twitter.png",  :alt =>"twitter feed") %></li>
          <li><%= image_tag("facebook.png", :alt => "facebook feed") %></li>
          <li><%= image_tag("myspace.png", :alt => "myspace feed") %></li>
          <li><%= image_tag("flick.png", :alt => "flick feed") %></li>
          <li><%= image_tag("linkin.png", :alt => "linkin") %></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="copyright">
    <span>©2015 Web Design by <a href="" title="SonLe">SonLe</a>'s Productions</span>
  </div>
</footer>